name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json

      - name: Prepare pnpm
        run: |
          corepack enable pnpm
          pnpm config set store-dir .pnpm-store

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: .pnpm-store
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Install
        run: pnpm install --prefer-offline --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-24.04
    needs:
      - build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
